version: '3'
services:
  frontend:
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - "8080:3000"
  mobile-frontend:
    build:
      context: mobile_frontend
      dockerfile: Dockerfile
    ports:
      - "8081:80"
    restart: always
